@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #c49c74;
    --text-dark: #333333;
    --text-light: #767268;  
    --extra-light: #f0efef;
    --white: #ffffff;
    --max-width: 1200px;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body{
    font-family: "Lato", sans-serif;
}

img{
    display: flex;
    max-width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

/* __UTILITY CLASSES__  */

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

.section__header{
    font-size: 2.5rem;
    color: var(--text-dark);
    font-weight: 700;
    text-align: center;
}

.section__description{
    text-align: center;
    color: var(--text-light);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.btn{
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    padding: 0.75rem 1.5rem;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    border: 2px solid var(--white);
}

.btn:hover{
    background-color: var(--white);
}

/* ___HEADER____  */

header{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(255, 255, 255, 0)
      ),
        url("assets/header1.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    
      min-height: 125vh;
}

nav{
    position: fixed;
    width: 100%;
    isolation: isolate;
    z-index: 9;
}

.nav__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-color);
}

.nav__logo a{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 600;
}

.nav__menu__btn i {
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__links{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    gap: 2rem;
    padding: 2rem;
    z-index: -1;
}

.nav__links a {
    white-space: nowrap;
    color: var(--white);
    font-weight: 600;
}

.nav__links.open{
    transform: translateY(100%);
}


/* __HOME__  */
.header__container{
    display: grid;
    gap: 2rem;
}

.header__container h1{
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

.header__content .section__description{
    color: var(--white);
    margin-bottom: 2rem;
    text-align: center;
}

.header__btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__btns .btn{
    padding: calc(0.75rem - 4px) calc(1.5rem - 4px);
}

.header__btns .btn:nth-child(1){
    background-color: var(--white);
    color: var(--text-dark);
}

.header__btns .btn:nth-child(2){
    background-color: transparent;
}
.header__btns .btn:nth-child(2):hover{
    background-color: var(--white);
    color: var(--text-dark);
}

/* ___HOTELS___  */
.hotel{
    background-color: var(--extra-light);
}

.hotel__grid {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
  }

.hotel__image{
    position: relative;
    isolation: isolate;
    margin-bottom: 0.5rem;
}

.hotel__rating{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.125rem 0.5rem;
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.hotel__rating span{
    color: goldenrod;
    font-size: 1rem;
}

.hotel__image img{
    border-radius: 0.75rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.hotel__card h4{
    margin-bottom: 0.5rem;
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--text-dark);
}

.hotel__card p{
    font-size: 1.2rem;
  font-weight: 800;
  color: var(--primary-color);
}

.hotel__card p span{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-dark);
}
/* __MEDIA QUERIES___  */

@media (width > 540px){
    .hotel__grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (width > 786px){
    nav{
        max-width: var(--max-width);
        margin-inline: auto;
        position: static;
        display: flex;
        align-items: center;
        gap: 1;
        justify-content: space-between;
        padding-inline: 1rem;
        padding-top: 2rem;
    }

    .nav__header{
        flex: 1;
        background-color: transparent;
        padding: 0;
    }

    .nav__menu__btn{
        display: none;
    }

    .nav__links{
        position: static;
        background-color: transparent;
        flex-direction: row;
        width: fit-content;
        transform: none !important;
        padding: 0;
    }

    .nav__logo a{
        font-size: 1.75rem;
    }

    .nav__links a:hover{
        color: var(--primary-color);
    }

    /* ___HOME___  */
    .header__container{
        grid-template-columns: 4fr 2fr;
    }
    .header__container h1{
        font-size: 6rem;
        line-height: 6.5rem;
        text-align: left;
    }

    .header__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__container .section__description{
        text-align: left;
    }

    .header__btns{
        justify-content: flex-start;
    }

    /* __HOTEL__  */
    .hotel__grid{
        grid-template-columns: repeat(3,1fr);
    }
}



@media (width > 1024px){
    .hotel__grid{
        gap: 1.5rem;
    }
}
