@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #c49c74;
    --text-dark: #333333;
    --text-light: #767268;  
    --extra-light: #f0efef;
    --white: #ffffff;
    --max-width: 1200px;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body{
    font-family: "Lato", sans-serif;
}

img{
    display: flex;
    max-width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

/* ___HEADER____  */

header{
    min-height: 125vh;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.25),
        rgba(255, 255, 255, 0)
    ),
    url("assets/header.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    width: 100%;
    isolation: isolate;
    z-index: 9;
}

.nav__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-color);
}

.nav__logo a{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 600;
}

.nav__menu__btn i {
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__links{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    gap: 2rem;
    padding: 2rem;
    z-index: -1;
}

.nav__links a {
    white-space: nowrap;
    color: var(--white);
    font-weight: 600;
}

.nav__links.open{
    transform: translateY(100%);
}
